run = "direnv allow && /home/runner/$REPL_SLUG/scripts/run.sh"
entrypoint = "README.md"

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 8333
externalPort = 80

[[ports]]
localPort = 18444
externalPort = 3000
